<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.catlendar.app.calendar.mapper.CalendarMapper">
    <select id="getSpecificMonth" resultType="CalendarInfo">
        SELECT
            CALENDAR_ID
            , USER_ID
            , CALENDAR_DATE
            , CALENDAR_CONTENT
            , BOOKMARK
            , COMPLETED
            , CREATE_DATE
        FROM
            CALENDAR
        WHERE
            CALENDAR_DATE LIKE CONCAT(#{targetDate}, '%')
        AND
            USER_ID = #{userId}
        ORDER BY CALENDAR_DATE ASC
    </select>

    <select id="getMonth" resultType="CalendarInfo">
        SELECT
            CALENDAR_ID
            , USER_ID
            , CALENDAR_DATE
            , CALENDAR_CONTENT
            , BOOKMARK
            , COMPLETED
            , CREATE_DATE
        FROM
            CALENDAR
        WHERE
            USER_ID = #{userId}
        AND
            DATE_FORMAT(CALENDAR_DATE,'%Y-%m') = DATE_FORMAT(CURDATE(),'%Y-%m')
        ORDER BY CALENDAR_DATE ASC
    </select>

    <select id="getToday" resultType="CalendarInfo">
        SELECT
            CALENDAR_ID
            , USER_ID
            , CALENDAR_DATE
            , CALENDAR_CONTENT
            , BOOKMARK
            , COMPLETED
            , CREATE_DATE
        FROM
            CALENDAR
        WHERE
            USER_ID = #{userId}
        AND
            DATE(CALENDAR_DATE) = CURDATE();
    </select>

    <insert id="createCalendar">
        INSERT INTO CALENDAR
        (
            USER_ID
            , CALENDAR_DATE
            , CALENDAR_CONTENT
        )
        VALUES
        (
            #{userId}
            , #{targetDate}
            , #{calendarContent}
        )
    </insert>

    <update id="updateCalendar">
        UPDATE
            CALENDAR
        SET
            CALENDAR_CONTENT = #{calendarContent}
        WHERE
            USER_ID = #{userId}
        AND
            CALENDAR_ID = #{calendarId}
    </update>

    <delete id="deleteCalendar">
        DELETE
        FROM
            CALENDAR
        WHERE
            USER_ID = #{userId}
        AND
            CALENDAR_ID = #{calendarId}
    </delete>

    <update id="completeCalendar">
        UPDATE
            CALENDAR
        SET
            COMPLETED = case COMPLETED
            when	'Y' then 'N'
            when	'N' then 'Y'
            end
        WHERE
            USER_ID = #{userId}
        AND
            CALENDAR_ID = #{calendarId}
    </update>

    <select id="getBookmarkList" resultType="BookmarkInfo">
        SELECT
            BOOKMARK_ID
            , USER_ID
            , BOOKMARK_CONTENT
            , CREATE_DATE
        FROM
            BOOKMARK
        WHERE
            USER_ID = #{userId}
    </select>

    <select id="getBookmark" resultType="BookmarkInfo">
        SELECT
            BOOKMARK_ID
            , USER_ID
            , BOOKMARK_CONTENT
            , CREATE_DATE
        FROM
            BOOKMARK
        WHERE
            USER_ID = #{userId}
        AND
            BOOKMARK_ID = #{bookmarkId}
    </select>

    <insert id="createBookmark">
        INSERT INTO BOOKMARK
        (
            USER_ID
            , BOOKMARK_CONTENT
        )
        VALUES
        (
            #{userId}
            , #{bookmarkContent}
        )
    </insert>

    <delete id="deleteBookmark">
        DELETE
        FROM
            BOOKMARK
        WHERE
            USER_ID = #{userId}
        AND
            BOOKMARK_ID = #{bookmarkId}
    </delete>

    <insert id="bookmarkToCalendar">
        INSERT INTO CALENDAR
        (
            USER_ID,
            CALENDAR_DATE,
            CALENDAR_CONTENT,
            BOOKMARK
        )
        SELECT
            BM.USER_ID,
            CURRENT_DATE(),
            BM.BOOKMARK_CONTENT,
            'Y'
        FROM
            BOOKMARK BM
        WHERE
            BM.USER_ID = #{userId}
        AND
            BM.BOOKMARK_ID = #{bookmarkId}
        LIMIT 1;
    </insert>
</mapper>