<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.catlendar.app.user.mapper.UserMapper">
    <select id="getUserList" resultType="UserInfo">
        SELECT
            USER_ID
            , NAME
            , EMAIL
            , BIRTH_DATE
            , BIRTH_TIME
            , CALENDAR_TYPE
            , GENDER
            , REGIST_DATE
        FROM
            USERINFO
    </select>

    <select id="getUser" resultType="UserInfo">
        SELECT
            USER_ID
            , NAME
            , EMAIL
            , BIRTH_DATE
            , BIRTH_TIME
            , CALENDAR_TYPE
            , GENDER
            , REGIST_DATE
        FROM
            USERINFO
        WHERE
            email= #{email};
    </select>

    <insert id="insertUser">
        INSERT INTO USERINFO
        (
            NAME
            , EMAIL
            , PASSWORD
            , BIRTH_DATE
            , BIRTH_TIME
            , CALENDAR_TYPE
            , GENDER
        )
        VALUES
        (
            #{name}
            , #{email}
            , #{password}
            , #{birthDate}
            , #{birthTime}
            , #{calendarType}
            , #{gender}
        )
    </insert>

    <select id="selectEmailInfo" resultType="UserTokenInfo">
        SELECT
            *
        FROM
            USERINFO
        WHERE 1=1
        AND EMAIL = #{email}
    </select>

    <select id="emailVerify" resultType="int">
        SELECT
            count(*)
        FROM
            USERINFO
        WHERE
            email=#{email};
    </select>

    <update id="updateUser">
        UPDATE
            USERINFO
        SET
            NAME            = #{name}
            , BIRTH_DATE    = #{birthDate}
            , BIRTH_TIME    = #{birthTime}
            , CALENDAR_TYPE = #{calendarType}
            , GENDER        = #{gender}
        WHERE
            EMAIL = #{email}
    </update>

    <select id="selectPassword" resultType="PasswordInfo">
        SELECT
            PASSWORD
        FROM
            USERINFO
        WHERE
            email=#{email};
    </select>

    <update id="updatePassword">
        UPDATE
            USERINFO
        SET
            PASSWORD = #{password}
        WHERE
            EMAIL = #{email}
    </update>

    <delete id="deleteUserCalendar">
        DELETE
        FROM
            CALENDAR
        WHERE
            USER_ID = #{userId}
    </delete>

    <delete id="deleteUserBookmark">
        DELETE
        FROM
            BOOKMARK
        WHERE
            USER_ID = #{userId}
    </delete>

    <delete id="deleteUser">
        DELETE
        FROM
            USERINFO
        WHERE
            USER_ID = #{userId}
    </delete>
</mapper>