<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.catlendar.app.user.mapper.UserMapper">

    <select id="getUserList" resultType="User">
        SELECT
            *
        FROM
            users
        WHERE
            EMAIL = 'www';
    </select>
    <select id="getUser" resultType="User">
        SELECT
            *
        FROM
            users
        WHERE
            username=#{username};
    </select>

    <insert id="insertUser">
        INSERT INTO users
        (
        USERNAME
        , EMAIL
        )
        VALUES
        (
        #{username}
        , #{email}
        )
    </insert>

    <update id="updateUser">
        UPDATE users
        SET
            USERNAME = #{username}
        WHERE
            EMAIL = #{email}
    </update>

    <delete id="deleteUser">
        DELETE
        FROM users
        WHERE
            EMAIL = #{email}
    </delete>

</mapper>