<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.catlendar.app.user.mapper.UserMapper">
    <select id="getUserList" resultType="UserInfo">
        SELECT
            *
        FROM
            USERINFO
    </select>
    <select id="getUser" resultType="UserInfo">
        SELECT
            *
        FROM
            USERINFO
        WHERE
            name=#{name};
    </select>

    <insert id="insertUser">
        INSERT INTO USERINFO
        (
            NAME
            , EMAIL
            , PASSWORD
        )
        VALUES
        (
            #{name}
            , #{email}
            , #{password}
        )
    </insert>

    <update id="updateUser">
        UPDATE
            USERINFO
        SET
            NAME = #{name}
        WHERE
            EMAIL = #{email}
    </update>

    <delete id="deleteUser">
        DELETE
        FROM
            USERINFO
        WHERE
            EMAIL = #{email}
    </delete>
</mapper>